html{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, #502982, #9a6ad6);
}
.done, .to_do {
    margin: 2px;
    padding: 5px;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
}
.done::before{
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: 24px;
    width: 12px;
    border-bottom: 7px solid white;
    border-right: 7px solid white;
    margin-right: 25px;
}

.to_do{
    opacity: 0.4; 
}

/*.to_do::before{
    content: url(icon_time.png);
    transform: rotate(45deg);
    /*transform: scale(0.5);
    margin-right: 25px;
}*/

@media (min-width: 769px)
{}

@media (max-width: 480px)
{}