html{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, #502982, #9a6ad6);
}
.done, .to_do, .onload {
    margin: 2px;
    padding: 5px;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
}
.done::before{
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: 22px;
    width: 9px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    margin-right: 22px;
}

.onload{
    color: yellow;
}

.onload::before{
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -5px;
    margin-right: 18px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.to_do{
    opacity: 0.4; 
}

.to_do::before{
    content: url("https://img.icons8.com/small/16/000000/time-machine.png");
    margin-right: 20px;
}

@media (min-width: 769px)
{}

@media (max-width: 480px)
{
    .content{
        margin: 25px 30px;
    }
}